.vk-bg-color {
  background-color: #5B7FA6;
  color: white;
}
.btn.vk-bg-color:hover {
  background-color: #2B587A;
}

.vk-text-color {
  color: #2B587A;
}

.nav-pills>li>a {
  color: #2B587A;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
  background-color: #5B7FA6;
  color: white;
}
.nav-pills>li.active>a:hover {
  background-color: #2B587A;
}

.nav-pills-hidden ul.nav.nav-tabs {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  background: #fff;
}

body > .container {
  padding-top: 60px;
}

.navbar {
  border: none;
  border-radius: 0px;
}

.navbar img {
  width: 15%;
}

.col-xs-2.right {
  padding-right: 0px;
}

.list-group-item.list-settings {
  border-top: none;
  border-left: none;
  border-right: none;
}

.list-group-item.list-settings h4 {
  color: #2B587A;
  font-weight: bold;
}

.list-group-item.list-settings p {
  padding-top: 10px;
  color: #65686c;
}

.list-group-item.list-settings h4 {
  margin-bottom: 0px;
}
.vk-checkbox {
  height: 25px;
  width: 25px;
  font-size: 15px;
  text-align: center;
  padding-left: 4px;
  padding-top: 2px;
  margin-top: -21px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.vk-checkbox:not(.active) i {
  visibility: hidden;
}

.vk-checkbox.active, .vk-checkbox.active:focus {
  background: #5B7FA6;
  color: white;
}

.vk-checkbox:hover {
  background: #2B587A;
}

.vk-checkbox.active i {
  visibility: visible;
}

.btn-reset {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.btn-reset span {
  font-size: 20px;
  padding-right: 3px;
}

.btn-apply {
  position: absolute;
  top: 20px;
  right: 70px;
  height: 40px;
  width: 40px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.btn-apply span {
  font-size: 20px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn:focus {
  outline: none;
}

.list-group {
  padding-bottom: 100px;
}

.toast-info {
  background-color: #5B7FA6;
}

p a {
  color: #2B587A;
  font-weight: 700;
  text-decoration: underline;
}
