/* Квадратные аватары */

html.sqrAvatars .module_body .people_cell_img,
html.sqrAvatars .page_list_module .thumb,
html.sqrAvatars .page_list_module .cell_img,
html.sqrAvatars .post_img,
html.sqrAvatars .wall_module .copy_post_img,
html.sqrAvatars .wall_module .reply_img,
html.sqrAvatars .nim-peer .nim-peer--photo-w,
html.sqrAvatars .mv_author_img,
html.sqrAvatars .friends_photo_img,
html.sqrAvatars .right_list_img,
html.sqrAvatars .top_profile_img,
html.sqrAvatars .group_row_photo,
html.sqrAvatars .group_row_img,
html.sqrAvatars .nim-peer .nim-peer--photo-w,
html.sqrAvatars .nim-peer.nim-peer_small .im_grid>img,
html.sqrAvatars .nim-peer .nim-peer--photo .im_grid>img,
html.sqrAvatars .ow_ava.ow_ava_small,
html.sqrAvatars .fc_contact_photo,
html.sqrAvatars .chat_tab_img,
html.sqrAvatars .like_tt_owner,
html.sqrAvatars .poll_tt_ownerx,
html.sqrAvatars .like_tt_image,
html.sqrAvatars .ow_ava.ow_ava_comm,
html.sqrAvatars .feedback_img,
html.sqrAvatars .notifier_image,
html.sqrAvatars .post_field_user_image,
html.sqrAvatars .fans_idolph_wrap,
html.sqrAvatars .fans_fan_img,
html.sqrAvatars .group_box_image_link,
html.sqrAvatars .like_share_ava.wdd_imgs,
html.sqrAvatars .settings_bl_photo,
html.sqrAvatars .nim-peer .nim-peer--photo>img,
html.sqrAvatars img,
html.sqrAvatars .wddi_img,
html.sqrAvatars .text.ts_input,
html.sqrAvatars .friends_photo_wrap .ui_zoom_inner,
html.sqrAvatars .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo>img,
html.sqrAvatars .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img {
  border-radius: 0px !important;
}



/* Белый фон */

html.noBackground body {
  background: none;
}

html.noBackground .wide_column_left .wide_column {
  float: left;
  border-left: 1px solid #e6e7eb;
  border-right: 1px solid #e6e7eb;
}

html.noBackground .feed_row .page_block, html.noBackground #page_wall_posts .page_block {
  margin: 15px 0px 0px;
  border: 1px solid #e6e7eb;
  border-width: 0px 0px 1px 0px;
  box-shadow: none;
}



/* Фон у непрочитанного сообщения вместо точки*/
html.oldMessageBackground .nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--unread {
  bottom: 0px;
}

html.oldMessageBackground .nim-dialog--name,
html.oldMessageBackground .nim-dialog--text-preview {
  z-index: 100;
  position: relative;
}

html.oldMessageBackground .nim-dialog--close._im_dialog_close, html.oldMessageBackground .nim-dialog--date._im_dialog_date {
  z-index: 101;
  display: none;
}

html.oldMessageBackground .nim-dialog--photo {
  z-index: 101;
  position: relative;
}

html.oldMessageBackground .nim-dialog .nim-dialog--preview {
  color: #67829E;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:empty {
  bottom: 0px;
  right: 0px;
  border-radius: 0px;
  width: 99%;
  height: 75%;
  margin-right: 2%;
  margin-bottom: 2%;
  background: #edf1f5;
  color: #67829E;
  border-color: #DAE1E8;
  z-index: 0;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:not(:empty) {
  margin: 0px 3px;
  background: #D1DAE3;
  padding: 4px 4px 4px 4px;
  font-weight: bold;
  color: #436796;
  border-radius: 2px;
  z-index: 99;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:not(:empty)::before {
  content: "";
  border-radius: 0px;
  background: #edf1f5;
  width: 551px;
  height: 70px;
  position: absolute;
  z-index: -1;
  top: -28px;
  left: -503px;
  opacity: 0.5;
}

html.oldMessageBackground .im-page--header.ui_search._im_dialogs_search {
  z-index: 102;
}

/* Фиксированное меню*/

#side_bar_inner_fixed {
  margin-top: 0px !important;
  top: 43px;
  width: 149px;
  padding: 15px 0 10px;
}


/* Старые шрифты */

html.oldFonts body {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}


/* Старый размер кнопок аудио */

html.oldAudioSize .audio_play,
html.oldAudioSize .audio_page_player .audio_page_player_play .icon {
  border-radius: 20%;
  background-position: -3px -3px;
  width: 22px;
  height: 22px;
}

html.oldAudioSize .audio_performer {
    font-weight: 600;
}

html.oldAudioSize .audio_page_player_ctrl.audio_page_player_play._audio_page_player_play {
  padding-top: 18px;
}

html.oldAudioSize .audio_play {
  width: 18px;
  height: 18px;
  background-size: 8px;
  background-position: 5px 4px;
}

html.oldAudioSize .audio_play .icon {
  width: 9px;
  height: 9px;
}

html.oldAudioSize .audio_row .audio_play_wrap {
  padding: 5px 0px 0px 0px;
}

html.oldAudioSize .audio_page_player_ctrl.audio_page_player_play._audio_page_player_play.audio_playing .icon{
  background-position: -3px -59px;
}

html.oldAudioSize .audio_row_playing .audio_play {
  background-position: 5px -15px;
}


/* Высокий контраст */

html.highContrast .module_header {
  line-height: 30px;
  color: #45688E !important;
  background: #DEE5EB;
}

html.highContrast .module_header .header_label {
    color: #45688E !important;
}

html.highContrast .module_header .header_top .right_link {
  color: inherit;
}

html.highContrast .im-chat-input .im-chat-input--textarea .placeholder {
  position: absolute;
  top: 21px;
  left: 2px;
  width: 100%;
}


html.highContrast .im-page.im-page_classic .im-page--chat-input {
  border-bottom: solid 15px #fff;
  border-left: solid 1px #fff;
  border-right: solid 2px #fff;
  background: #f2f2f2;
}

html.highContrast .im-chat-input .im-chat-input--text {
  border: solid 1px #e4e6e9;
  -o-transition: border-bottom-color 0.3s linear;
  transition: border-color 0.3s linear;
  padding: 2px;
  padding-right: 25px;
}

html.highContrast .im-page.im-page_classic .im-page--header-inner {
  background: #f2f2f2;
}

html.highContrast .im-page.im-page_classic .im-page--header-chat {
  border-top: solid 17px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

html.highContrast .im-page.im-page_classic .im-page--header {
  border-top: solid 15px #fff;
}

html.highContrast .wall_module > .page_block {
  background: #DEE5EB;
}

html.highContrast .wall_module > .page_block a {
  color: #45688E;
  border-bottom: none;
}


html.highContrast .nim-dialog.nim-dialog_classic {
    border-top: solid 1px #e7e8ec;
}
html.highContrast .nim-dialog .nim-dialog--content {
    border-color: #fff;
}

html.highContrast .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted):hover+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted):hover+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted):hover+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog .nim-dialog--photo{
    margin-top: 0px !important;
}


/* Скрыть возможных друзей */
html.hidePossibleFriends .friends_possible_block {
    display: none;
}

/* Скрыть рекомендованные сообщества */
html.hidePossibleGroups #groups_filters_wrap {
    display: none;
}

html.hidePossibleGroups #feed_filters .page_block .right_list_header, html.hidePossibleGroups #group_recom_wrap {
    display: none;
}
html.hidePossibleGroups #feed_filters .page_block:nth-child(2) {
    display: none;
}


/* Скрыть ссылки под меню */
html.hideUnderMenu .left_menu_nav_wrap {
    display: none;
}

/* Расфиксировать правую колонку в новостях */

html.fixNarrowColumn #narrow_column.position_right {
    position: absolute !important;
}

/*
html.fixNarrowColumn div#content > div.wide_column_left .narrow_column { 
    width: 230px; 
    position: absolute !important; 
}

html.fixNarrowColumn div#content > div.wide_column_left .narrow_column_wrap { 
    float: right; 
    position: absolute !important; 
    right: 0; 
}
*/
/* Лайки справа */
html.moveLikeRight .post_full_like_wrap .reply_link_wrap { 
    float: left; 
}

html.moveLikeRight .post_full_like_wrap .post_like, html.moveLikeRight .post_full_like_wrap .post_share { 
    float: right; 
}




html.oldLogo .top_home_logo {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAAyCAMAAAAuj2TTAAAA51BMVEUAAAD////////9/f74+fv+///19/n////5+vz6+/z////////////+///////3+fv////5+vzy9fj////8/P7////+/v/7/P38/f709/r9/f78/f75+vz3+fv6+/3////////9/v79/v73+fr4+vv5+vz5+vz3+fv3+fv9/v79/v77/P34+fv+/v/////5+vz6+/z7/P32+Pr////8/f79/v72+Pr5+vz9/v76/P34+vv7/P3z9fn9/v76+/z2+Pr9/f78/f37/P3+/v78/f7+/v/7/P34+fv9/v79/v77/P33+fv///9gwaWIAAAATHRSTlMAvWEGBO1AuxId89ei+PqVlEQl1oD81NTNe54rGgoCnvDc6mQxNS4nFsiyp5uHgGhOSQ/2xbchhnl2cmxfWjoN0a+dmFGpjmHl4btYGlfkYwAABQ1JREFUaN7tmNlW4kAQQAsIqwoThIiyM+w47IvAsIkiaP//9wxdldAhdkB9mZNzuE8VG2Lf7uqqBLhw4cKFC/+R6HR9LePhaQ4OQmnmmC3XAXAKSpadQhuCQ3hip1llwBGkvOwMDjknM3aOZ3AEf9g5lgo4gV/MIJc1GCRCTHDlOZOcc7XjS3rg23Qrc1X1lavwE6oltaMWuzIRDQTDX1aRat21Zw2IuvG/+8sYtl1YvMP5UQqQNxdHxXjDw0HVs3JZUCEZq21vGMebmNBXM898qL7Ai+T9wO9vV/0uC0mawIqO9nYT/Sxye7SoU4tIMH6Q9TQYR+W78S6EC2+mXKW4xsP4MB1iFn4fp3ThBRtBnsc32LnuUXIaZFZ8+8FFQ1x7X+QiAr9FBCeT4OHz4ZbVJTPj5qMxDP8Cx4UzG6YLTKB7NpmZeIeL3OHMuMgLQ1qpsKSGVmvMREiViqQesusZdo6xnUj5sDZKnaJejiHhuY3IDbPQIpGc19irfsYsoiz1j0l35JWme319RfNLS0RolrhbbjuRDSNUaNNqjqLVtoahXy6ijCJ7VnQSI5zSPrUSo1IwMFTrdJOKWeQvIyZd/PQ7uWIchQ5eRTwAafpuWyaS5Hv5hw80bUSog4Y24yDgfejT0RxOp2yIfIj0vIkCUsKBNRBFH+gMaFnMIpQ7D/clc6+bAJLpoxXGFdzqR6kIj2b88wkbkUdMJj6NbgFDehij8zc1RO6TnJpZxEezgyM8qcojnZqDSBpULCwxMHDTLQGJhk1WKFWTiUQ1zf+k4IbIRO7KU/wnDVxU6pf0LNaipwBDJB7msJMiyVakruXCeh0zRHKldh4rWVcuQvnsekR2PM7LRDIe7OOLNZOKxOOiCOrJ+g6IihcDWgGBvYivrytYRJheGcYgF5kwK4UT5TfdycY/iQiuTbdsmKfpwh35isgTashEiF3aRiTGrHhP95FZ3F4kj634N8avPxKZMySsDR77UpGeelIk5xVcyUSGfper/oFp/yoR6d32xBOxz0gtkWd1I7VGPk7CVqRBFbWsADwdi8RvvbRYC7nIlBIvIOhK+4ioqG1Z1VJatJIlXvzCOKyY7r+RlF+ZSIBq+BDr/LGIt1sMsRNVqyMpfnZ9hGl8S1I5Wfn1aAyDNIAnjytYNHWDmaQhykRoDfIKnhariP4clgtKRYI9HCyKM9CyF6nZi0A7bnQMoA6wUvg64V9DqS+KUDPoVXhdWVlEAlAt0On7LCKWbEcNVSk12KttavXwGeVFllqH9C4EAIrklJh8NG70o/NFkXQeL7SpOl4yq8ihxL5IRcp6fa49x0YNnh9ZmUg11myO6Zk/ayNSofO+1rPCUszOiyAjJvgs4umTp0cmYv2vchFBKWQjAhHRFJ+PGlMJviyS2h6qs2YVwfaKjKUimVGcmficWgqYmO8sDVG8RXYpL+54yxp7mYE/afNiVTH3/gYQvp3xTkUL3DJerMJcBOoMoSPdEiKEWmOC5Yf9q266vA6zY5H0zL2nTU+ubiSAgi3XzustLCN8g8Qg7UKHh28LfRNwYA461dGysK2Nq/oX9raZNg9mtG5uhEQqGJeP8mXyrm0L27tVq6hYy2/IZdDPo4YQOc1i35My8H0yXVT8KcoisMh85+cgzRk/B7nZOa7BEQRz7AwqOINzueV3RmbhG/wp8hVwCmkqtXIGQXAQpebrwC9htek4Ja8uXLhw4cL/4B/QqO3trVpDIQAAAABJRU5ErkJggg==') no-repeat !important;
    background-position: 0px 0px !important; 
    width: 100% !important; 
    height: 100% !important; 
    background-size: 155px auto !important; 
    margin: 3px -0px 0px -15px !important;
}

/* Убрать иконки */


html.myMenu .left_icon { display: none !important; }
html.myMenu #side_bar .left_label{ padding-left: 7px; }
html.myMenu .left_settings{ margin: -25px 0 0 -22px; }
html.myMenu #side_bar .more_div { margin-left: 0;}

/* Скрыть рекламу */


html.hideAdds #ads_left { display: none !important; }


html.editMenu #side_bar .left_label {
    position: relative;
}

html.editMenu a.f_red_p { 
    position: absolute; 
    right: 20px; 
    top: 0px; 
}

html.editMenu:not(.myMenu).sizeOptimize a.f_red_p {
    right: -3px;
}
html.editMenu:not(.myMenu).sizeOptimize #side_bar .left_icon {
    width: 28px;
}
html.editMenu:not(.myMenu):not(.sizeOptimize) a.f_red_p {
    right: -3px;
}


html.editMenu.myMenu:not(.sizeOptimize) a.f_red_p {
    right: 20px;
}

html.editMenu #side_bar .left_label { 
    position: relative; 
}

html.editMenu a.f_red_p {
    color: #777;
}

html.editMenu a.f_red_p:hover {
    color: inherit;
}


/* Оптимизация размеров */

html.sizeOptimize #page_layout {
    width: 980px !important;
}
html.sizeOptimize #page_body {
    width: 840px !important; 
}

html.sizeOptimize .nim-dialog.nim-dialog_classic .nim-dialog--name, .nim-dialog.nim-dialog_classic .nim-dialog--preview, .nim-dialog.nim-dialog_classic .nim-dialog--text-preview{
    font-size: 11px;
}
html.sizeOptimize .nim-dialog .nim-dialog--name{
    margin-top: 10px;
}


html.sizeOptimize .ui_rmenu_item, .ui_rmenu_subitem{
    height: 25px;
    line-height: 26px;
}

html.sizeOptimize #page_body{
    font-size: 11px;
}
html.sizeOptimize .im-page .im-page--chat-body-wrap{
    font-size: 12px;
}

html.sizeOptimize #side_bar ol li .left_row .left_count_wrap, html.sizeOptimize #side_bar ol li .left_row:hover .left_count_wrap {
    margin: 0px 15px 0px 0px !important;
    line-height: 14px; 
    height: 14px; 
    padding: 4px 6px !important; 
    background: #e1e5eb 
}

html.sizeOptimize #side_bar .left_label { 
    line-height: 22px; 
    height: 22px; 
    padding-left: 0x; 
    font-size: 11px; 
}

html.sizeOptimize .side_bar_inner { 
    width: 120px; 
}
html.sizeOptimize #side_bar .left_icon{
	height: 22px;
	margin-top: -2px;
}
html.sizeOptimize #side_bar ol li{ margin-bottom: 1px;}



/* Старая шапка */


html.oldHead #page_header{
   background: #507299;
    border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border-bottom: 1px solid #466991;
}
html.oldHead #page_header_cont .back {
    background: #fff;
    border-bottom: none;

}
html.oldHead.oldLogo .top_home_logo{
    width: 125px !important;
    background-size: 100% !important;
    margin-left: -5px !important;
    margin-top: 5px !important;

}

html.oldHead #page_header_cont .back{
    background: rgba(0,0,0,0);
}


html.oldPhoto .pv_cont .pv_left_wrap{
    float: none !important;
    display: block !important;
}
html.oldPhoto .pv_cont .pv_narrow_column_wrap{
    display: block !important;
    float: none !important;
}
html.oldPhoto #layer, .pv_light #layer{ 
    margin-top:10px !important;
}
html.oldPhoto #pv_photo{
    width: 100% !important;
    height: auto !important;
       
}
html.oldPhoto #pv_narrow{
    width: 100% !important;
    height: auto !important;
}
html.oldPhoto .pv_cont .pv_reply_form_wrap{
    width: 100% !important;
}
html.oldPhoto .pv_cont{
    width:100% !important;
    max-width: 980px !important;
 }

html.oldPhoto #pv_photo img { 
    max-width: 100% !important; 
    height: auto !important; 
}