/* Квадратные аватары */

html.sqrAvatars .module_body .people_cell_img,
html.sqrAvatars .page_list_module .thumb,
html.sqrAvatars .page_list_module .cell_img,
html.sqrAvatars .post_img,
html.sqrAvatars .wall_module .copy_post_img,
html.sqrAvatars .wall_module .reply_img,
html.sqrAvatars .nim-peer .nim-peer--photo-w,
html.sqrAvatars .mv_author_img,
html.sqrAvatars .friends_photo_img,
html.sqrAvatars .right_list_img,
html.sqrAvatars .top_profile_img,
html.sqrAvatars .group_row_photo,
html.sqrAvatars .group_row_img,
html.sqrAvatars .nim-peer .nim-peer--photo-w,
html.sqrAvatars .nim-peer.nim-peer_small .im_grid>img,
html.sqrAvatars .nim-peer .nim-peer--photo .im_grid>img,
html.sqrAvatars .ow_ava.ow_ava_small,
html.sqrAvatars .fc_contact_photo,
html.sqrAvatars .chat_tab_img,
html.sqrAvatars .like_tt_owner,
html.sqrAvatars .poll_tt_ownerx,
html.sqrAvatars .like_tt_image,
html.sqrAvatars .ow_ava.ow_ava_comm,
html.sqrAvatars .feedback_img,
html.sqrAvatars .notifier_image,
html.sqrAvatars .post_field_user_image,
html.sqrAvatars .fans_idolph_wrap,
html.sqrAvatars .fans_fan_img,
html.sqrAvatars .group_box_image_link,
html.sqrAvatars .like_share_ava.wdd_imgs,
html.sqrAvatars .settings_bl_photo,
html.sqrAvatars .nim-peer .nim-peer--photo>img,
html.sqrAvatars img,
html.sqrAvatars .wddi_img,
html.sqrAvatars .text.ts_input,
html.sqrAvatars .friends_photo_wrap .ui_zoom_inner,
html.sqrAvatars .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo>img,
html.sqrAvatars .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img {
    border-radius: 0px !important;
}



/* Белый фон */

html.noBackground body {
    background: none;
}

html.noBackground .wide_column_left .wide_column {
    float: left;
    border-left: 1px solid #dfdfe1;
    border-right: 1px solid #dfdfe1;
}

html.noBackground .feed_row .page_block, html.noBackground #page_wall_posts .page_block {
    margin: 15px 0px 0px;
    border: 1px solid #dfdfe1;
    border-width: 0px 0px 1px 0px;
    box-shadow: none;
}



/* Фон у непрочитанного сообщения вместо точки*/
html.oldMessageBackground .nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--unread {
    bottom: 0px;
}

html.oldMessageBackground .nim-dialog--name,
html.oldMessageBackground .nim-dialog--text-preview {
    z-index: 100;
    position: relative;
}

html.oldMessageBackground .nim-dialog--close._im_dialog_close, html.oldMessageBackground .nim-dialog--date._im_dialog_date {
    z-index: 101;
    display: none;
}

html.oldMessageBackground .nim-dialog--photo {
    z-index: 101;
    position: relative;
}

html.oldMessageBackground .nim-dialog .nim-dialog--preview, html.oldMessageBackground .nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--text-preview  .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--text-preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--text-preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--text-preview, .nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--preview, .nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--text-preview, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered .nim-dialog--preview b, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected .nim-dialog--preview b, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic .nim-dialog--preview b, .nim-dialog:not(.nim-dialog_deleted):hover .nim-dialog--preview b{
    color: #67829E !important;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:empty {
    bottom: 0px;
    right: 0px;
    border-radius: 0px;
    width: 99%;
    height: 75%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #edf1f5;
    color: #67829E;
    border-color: #DAE1E8;
    z-index: 0;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:not(:empty) {
    margin: 0px 3px;
    background: #D1DAE3;
    padding: 4px 4px 4px 4px;
    font-weight: bold;
    color: #436796;
    border-radius: 2px;
    z-index: 99;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:not(:empty)::before {
    content: "";
    border-radius: 0px;
    background: #edf1f5;
    width: 551px;
    height: 70px;
    position: absolute;
    z-index: -1;
    top: -28px;
    left: -503px;
    opacity: 0.5;
}

html.oldMessageBackground .im-page--header.ui_search._im_dialogs_search {
    z-index: 102;
}

/* Фиксированное меню*/

#side_bar_inner_fixed {
    margin-top: 0px !important;
    top: 43px;
    padding: 15px 0 10px;
}


/* Старые шрифты */

html.oldFonts body {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}


/* Старый размер кнопок аудио */

html.oldAudioSize .audio_play,
html.oldAudioSize .audio_page_player .audio_page_player_play .icon {
    border-radius: 20%;
    background-position: -3px -3px;
    width: 22px;
    height: 22px;
}

html.oldAudioSize .audio_performer {
    font-weight: 600;
}

html.oldAudioSize .audio_page_player_ctrl.audio_page_player_play._audio_page_player_play {
    padding-top: 18px;
}

html.oldAudioSize .audio_play {
    width: 18px;
    height: 18px;
    background-size: 8px;
    background-position: 5px 4px;
}

html.oldAudioSize .audio_play .icon {
    width: 9px;
    height: 9px;
}

html.oldAudioSize .audio_row .audio_play_wrap {
    padding: 5px 0px 0px 0px;
}

html.oldAudioSize .audio_page_player_ctrl.audio_page_player_play._audio_page_player_play.audio_playing .icon{
    background-position: -3px -59px;
}

html.oldAudioSize .audio_row_playing .audio_play {
    background-position: 5px -15px;
}


/* Высокий контраст */

html.highContrast .module_header {
    line-height: 30px;
    color: #45688E !important;
    background: #DEE5EB;
}

html.highContrast .module_header .header_label {
    color: #45688E !important;
}
html.highContrast .module_header .header_top{
    line-height: 32px;
}
html.highContrast .wide_column .module_header .header_top{
    padding-top: 0px; 
    line-height: 32px;
}
html.highContrast .module_header .header_top .right_link {
    color: inherit;
}
html.highContrast .wide_column .header_right_link{
    padding-top: 0px;
    line-height: 32px;
}
html.highContrast .header_right_link{
    line-height: 32px;
}
html.highContrast .im-chat-input .im-chat-input--textarea .placeholder {
    position: absolute;
    top: 21px;
    left: 2px;
    width: 100%;
}


html.highContrast .im-page.im-page_classic .im-page--chat-input {
    border-bottom: solid 15px #fff;
    border-left: solid 1px #fff;
    border-right: solid 2px #fff;
    background: #f2f2f2;
}

html.highContrast .im-chat-input .im-chat-input--text {
    border: solid 1px #e4e6e9;
    -o-transition: border-bottom-color 0.3s linear;
    transition: border-color 0.3s linear;
    padding: 2px;
    padding-right: 25px;
}

html.highContrast .im-page.im-page_classic .im-page--header-inner {
    background: #f2f2f2;
}

html.highContrast .im-page.im-page_classic .im-page--header-chat {
    border-top: solid 17px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}

html.highContrast .im-page.im-page_classic .im-page--header {
    border-top: solid 15px #fff;
}

html.highContrast .wall_module > .page_block {
    background: #DEE5EB;
}

html.highContrast .wall_module > .page_block a {
    color: #45688E;
    border-bottom: none;
}


html.highContrast .nim-dialog.nim-dialog_classic {
    border-top: solid 1px #e7e8ec;
}
html.highContrast .nim-dialog .nim-dialog--content {
    border-color: #fff;
}

html.highContrast .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted):hover+.im-page--messages-search:before, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog:before, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered+.nim-dialog .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected+.nim-dialog .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic+.nim-dialog .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted):hover+.im-page--messages-search .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted):hover+.im-page--messages-search .nim-dialog--photo, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog .nim-dialog--content, .nim-dialog:not(.nim-dialog_deleted):hover+.nim-dialog .nim-dialog--photo{
    margin-top: 0px !important;
}


/* Скрыть возможных друзей */
html.hidePossibleFriends .friends_possible_block {
    display: none;
}

/* Скрыть рекомендованные сообщества */
html.hidePossibleGroups #groups_filters_wrap {
    display: none;
}

html.hidePossibleGroups #feed_filters .page_block .right_list_header, html.hidePossibleGroups #group_recom_wrap {
    display: none;
}
html.hidePossibleGroups #feed_filters .page_block:nth-child(2) {
    display: none;
}


/* Скрыть ссылки под меню */
html.hideUnderMenu .left_menu_nav_wrap {
    display: none;
}

/* Расфиксировать правую колонку в новостях */

html.fixNarrowColumn #narrow_column.position_right {
    position: absolute !important;
}

/*
html.fixNarrowColumn div#content > div.wide_column_left .narrow_column { 
    width: 230px; 
    position: absolute !important; 
}

html.fixNarrowColumn div#content > div.wide_column_left .narrow_column_wrap { 
    float: right; 
    position: absolute !important; 
    right: 0; 
}
*/
/* Лайки справа */
html.moveLikeRight .post_full_like_wrap .reply_link_wrap { 
    float: left; 
}

html.moveLikeRight .post_full_like_wrap .post_like, html.moveLikeRight .post_full_like_wrap .post_share { 
    float: right; 
}




html.oldLogo .top_home_logo {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAAAfCAYAAADKvMJ0AAAACXBIWXMAAAsTAAALEwEAmpwYAAA4 JWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0w TXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRh LyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMwMTQgNzkuMTU2Nzk3LCAyMDE0LzA4LzIw LTA5OjUzOjAyICAgICAgICAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMu b3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJk ZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFw LzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMv MS4xLyIKICAgICAgICAgICAgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bo b3Rvc2hvcC8xLjAvIgogICAgICAgICAgICB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNv bS94YXAvMS4wL21tLyIKICAgICAgICAgICAgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5j b20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIKICAgICAgICAgICAgeG1sbnM6dGlmZj0i aHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0 dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIj4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5B ZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoV2luZG93cyk8L3htcDpDcmVhdG9yVG9vbD4KICAgICAg ICAgPHhtcDpDcmVhdGVEYXRlPjIwMTYtMDktMjNUMTI6MzY6NTUrMDM6MDA8L3htcDpDcmVhdGVE YXRlPgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAxNi0wOS0yM1QxMjozNzo1MiswMzowMDwv eG1wOk1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6TWV0YWRhdGFEYXRlPjIwMTYtMDktMjNUMTI6 Mzc6NTIrMDM6MDA8L3htcDpNZXRhZGF0YURhdGU+CiAgICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uv cG5nPC9kYzpmb3JtYXQ+CiAgICAgICAgIDxwaG90b3Nob3A6Q29sb3JNb2RlPjM8L3Bob3Rvc2hv cDpDb2xvck1vZGU+CiAgICAgICAgIDx4bXBNTTpJbnN0YW5jZUlEPnhtcC5paWQ6ZWRkYmU4NzEt YjQ0OC1iZTRkLWE3ZjUtNDg5OGNlNjZmY2U0PC94bXBNTTpJbnN0YW5jZUlEPgogICAgICAgICA8 eG1wTU06RG9jdW1lbnRJRD54bXAuZGlkOmVkZGJlODcxLWI0NDgtYmU0ZC1hN2Y1LTQ4OThjZTY2 ZmNlNDwveG1wTU06RG9jdW1lbnRJRD4KICAgICAgICAgPHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJ RD54bXAuZGlkOmVkZGJlODcxLWI0NDgtYmU0ZC1hN2Y1LTQ4OThjZTY2ZmNlNDwveG1wTU06T3Jp Z2luYWxEb2N1bWVudElEPgogICAgICAgICA8eG1wTU06SGlzdG9yeT4KICAgICAgICAgICAgPHJk ZjpTZXE+CiAgICAgICAgICAgICAgIDxyZGY6bGkgcmRmOnBhcnNlVHlwZT0iUmVzb3VyY2UiPgog ICAgICAgICAgICAgICAgICA8c3RFdnQ6YWN0aW9uPmNyZWF0ZWQ8L3N0RXZ0OmFjdGlvbj4KICAg ICAgICAgICAgICAgICAgPHN0RXZ0Omluc3RhbmNlSUQ+eG1wLmlpZDplZGRiZTg3MS1iNDQ4LWJl NGQtYTdmNS00ODk4Y2U2NmZjZTQ8L3N0RXZ0Omluc3RhbmNlSUQ+CiAgICAgICAgICAgICAgICAg IDxzdEV2dDp3aGVuPjIwMTYtMDktMjNUMTI6MzY6NTUrMDM6MDA8L3N0RXZ0OndoZW4+CiAgICAg ICAgICAgICAgICAgIDxzdEV2dDpzb2Z0d2FyZUFnZW50PkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE0 IChXaW5kb3dzKTwvc3RFdnQ6c29mdHdhcmVBZ2VudD4KICAgICAgICAgICAgICAgPC9yZGY6bGk+ CiAgICAgICAgICAgIDwvcmRmOlNlcT4KICAgICAgICAgPC94bXBNTTpIaXN0b3J5PgogICAgICAg ICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICAgICA8dGlmZjpY UmVzb2x1dGlvbj43MjAwMDAvMTAwMDA8L3RpZmY6WFJlc29sdXRpb24+CiAgICAgICAgIDx0aWZm OllSZXNvbHV0aW9uPjcyMDAwMC8xMDAwMDwvdGlmZjpZUmVzb2x1dGlvbj4KICAgICAgICAgPHRp ZmY6UmVzb2x1dGlvblVuaXQ+MjwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICAgICAgICAgPGV4aWY6 Q29sb3JTcGFjZT42NTUzNTwvZXhpZjpDb2xvclNwYWNlPgogICAgICAgICA8ZXhpZjpQaXhlbFhE aW1lbnNpb24+MTI1PC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgICAgPGV4aWY6UGl4ZWxZ RGltZW5zaW9uPjMxPC9leGlmOlBpeGVsWURpbWVuc2lvbj4KICAgICAgPC9yZGY6RGVzY3JpcHRp b24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+CiAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg IAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAog ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAK ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg IAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAog ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAK ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg ICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgCjw/eHBh Y2tldCBlbmQ9InciPz7a9+22AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAX b5JfxUYAAAtxSURBVHja7Jt/0GZlWcev3UIwwMDJkoAFCSaJH6ut/JLEKBQIcCzB2NplcHKGCRNF BiZH2ElGZNRcFWFiRYUZMmxqMsOicSqcSFeLQLMkpdkZg+mHEuy+7/Oc+75+fL9Xf5xznj3Pw/PK s7gTW71n5pp95zn7nHPf1+f6fb+vZKasyv8vWVXCKvRVWYW+Kv93oVd1qepiHgeoxRWZeVtm/k5m 3roHsg3AewH+nFpIURd3iHVSLYTk5MUkhaQAraiFBCjMlAhI1ZCq3n0OCUDUQtRCqrkAlNq9IwAp 6lKqiQcm7+j/j3mIB6bvkaIeAnAhRZEpFpAAJUAp6lLNxSykVJu8p9+HDfY+3Ld6yKioqLmohzTa /puZ4oHJz4sIOL0Wj906ckfL1VyKupi3OppAL9VELV5I8nP5/V9L5njzKvR9HHo134+ZX8i9eLnH RbYKfd+FHuCluZcvkNur+n5V25cWc+GUElehP6fQM/MDK7BjZjaZuZSZ405GmTnmM0Anc9ksDu/z +96A3n4Wa4o+99Cb2ipTNaQpKqU+N9AxA73TkbhjbenWuBL0D60AbhfJ0zNzXWa+JJlH9z9bYIMH fqMzhLm5PZNHg+xfvI6ZH8zMWzJzG8kLSAp3Q98Q4BZm3hWBjdpBrxbiwGtJfhrkQyD/CeTDIP+g qv+CddCruVT1NRF4a1eE3g7wHWpT0M/NzNsz8xaQH1KPgwBekJl3ZObWbNc3Tz5C5lYLHBngjwb4 bgfuBfkgya8D/BrABzzwUbU4pYeuBjHHESQ/nJkfycyPq8f5o2Ki1u6tUT/ZPK7PzE944DXqcUpm fux7rKWXbQGc7oGJU3ngjSD/DORXST4C8EEP3FnUXz4P+m+vAO4pgAeRrRVG5ykBSrUQNReSZ3fe P3vtBLgOYKf0OHM6/OdtQIo5JAIXk/RJPRD4k6Zo3wG8nytGEybAbdF5MZBrAH6jvx/Bf10a1TVq 0UeXqX021Q7zwB2LpCsm0yNemZmXPUOEA8DrzFuvU4vTpmqdwNaqIWYh5jgfYN1dB+EmD7xl0RRq Htc01aSoHxjA51ZeezbuuKSpi0HfSXKdOaRUkwC3ZOY9ADert4oOUkD++QLQT5mCDt6sHlItXkDm 8kwReO+4qHSRZFgnjAO8PzN3TT8L17bvoAB8YLdS8PCTuxqpNgmZ1w+/V9RfbI73oDUecn5tApAZ QEbg5Mx8W2dwY5LbA/wrkDtmtWyB47sU9fLhkwP8rVJdxsUOIPOxGYP4oHpsApkgCXC+oXdS1S+r 6kLynsH96CLFVmZ+d/BVVYufXAg6wHV9HsvMfxvs68gAxYOSmfc9C+g31jb0vm1GyV8yxy9V84My 86nBrR3jYi9dblSq+jGBKUWP1eLQNn/mXw88YXupbf4PUMi8aqpYqfaKqv4jjfoZ4+rrq/o5ZP7X YC1/1FQ7uam2oVH/abP4QfW4wBzvVIuj1ELUo8+Z1017IX69K/BeNoTugeu7z6+c0cf2or6pqXZo o376uNj60hrMNwYG8+Wm2suK+vqm2ulL43qwOX5+EGVMLU5rCzqXanEc23qsX9PNi3k6uK7fGMhv dtb0Jfc4RNs8sp7krj2Fbh5Xq8VBAB/frZD4bLVYqw6p5ufOeMGWppgUdWnaucKU11rgIncKsRt6 gI8F+HaSV4K8nOSfDr+z3OhZo0b73CrjogeA/M5Aibd5QJpqbcFlIY22lXpXNb8E5CsjcIFa3DSE ax493PUz0N9SzPfPzG9O3gN+vlRf2xeHTdcNdAXg305c1ePzy41K0w3TRkVFPT45MNIdVf2Yptrx TbXjS7XjAP7jQB/3Lhze1UOa6qKOnwrg1CDXjhoVNT82B5a0R55OfpuZ3x589ERT7aWlmliEOHjN jOdc4tFW+a1nxYUzz7sayClPf6ZrVPTMnctFRkVl3MoRIJ8YhMpPEmyrYnPxiH7g9A5mfhVgWenZ 6n59Mwc6yR0kHx1EnJ3V/KRRG8Fa4OY9lzWZ+fAA+heWxiptIRhiHhLAXw5eG12dk2Qrs230wuG9 b6k80PWG6L3t4K6w2bGn0Ofkqq9Ui9brqoqZv2cYigN8HZlSzWV5XKVUO2/mEdd17d8eQd81KrLU 1BWh9y2lefQt3t1Py/vgowE8kpkYQH/XPOhz9v1IoybjatJHskFr+3Tojcq4mHhQoq1htg+XsuLY pNXj/Qt6eq5Ta3tLgLdk5t8E8Hvm2OAOASAgL9xT6CT/DuRDQ7AeuLKoy6ipUtSunC7ucIl2IVY9 xD0umrHitwIpOfB0kI8WtQubaueOSz3LPO6eB335GaBHF2HM4xROw36gapzqEQdH4FWLQAe5vfO4 YRS7tqkmTdXZPn0u9FGxydwB4F8Mo4h5HKuOn1CLE9TjBPM4QQ3Hm+NoNX/Bwp7uXcE2E44fM8f+ /YSMzG/tWU7Hr5nFfpnpw9aiqB/e5ky8itM5/QNNbUOgtRHn5uHzAvhZdwoGOd0CX14aVVkeF2mK Csi3Pxvoff40j98cfr+an9lUa40QOKqz3e8JvVpsKmoy04GYRxzp0Rr0YJizInTzNrwDuH24pKr+ iqLtoMasHdSU6uKBw81x2uLQo81rQ+gkv2iO53VTp/3I/Jc9gR7gjRGQALbOwLuz86oDA/iPwfu+ qx6va9R+2BznkfnEwFj+Uy2e7zPVuzse2rlUpCnW7/OGZwN9XFV2jYtU86umog94q1ocWix+3AK3 zuT0udA9sKWpJubx3pn+/g+jSyXJXAh6p6ezZvT6HYu4AuB6MxyrFq92xw0kx5n5+wtBz8x16pBR 2zdflZkfDfCdHvwxj3bM6IHXLhDeT53Jg+9Th5TqB3JQMWdmqvnZo6ISwMVz+ubHZ+fE5vFGtehz 3BcH0L/25K4i5pPx65ap6r3oz+xcbmSpqTIqKqMW+s4B9Lva8I5u1BnHzhnG/DszdU4hd8MK0N/d 1Uf7993QANhrohv1DqD/wwD6A0uNynIxaWo79+/GvjfNGxKRTxua3bkI9Cfd44DdEy9OZr5Fu9wa cQyAry8A/YyZRW2NoIyLSlW/fMbbHx8Xe1E768blK7SEmZnLAV7dz+DZTuT+fjCR++flsa4xD2FS SE55V6P+6lGj0k212lExswwM89MRmOT02tYT180pzCrAjw9TlXncWKqLmm+YaT3f1xuoB94wa0BF 7chqLp3Of4DktwbQv7LUqCw3LfTe6boDlus5iFJzjMDdce1Cs3eQ52TmiZl5cmae1MmJ6nGGB67N zCdWnL2TRw1m7y9k5i9n5q9k5uYA1puHNLWtXAG+PjN/NTMvzcw3m8eL+45BPY6JwHUgPxPgfQH+ cVV/l3scB+ZkJFzN10TgnMzclJmbLeLcXctFipq0gySclJmbM3NjBDY21V/U97xmIWbxQ2T+YreO zR44rW+N+tOrcVtXnB/BTwVwX4DvV4915iEgL+73ZxYnVg0xxyEgL83MjZl5GcCTeifqxtiv79a7 MTOvUPOji7k07dRubYDn9fuJwNlFO+Nrx7gT6XR1mHq8yYPbIvgZBz4bwB3u8SZVP66ptmaRU7bv 5xq544iVTtk82oUPoE+dIPWK7k+e+pO39uQoZNydavXQq7k0On3KZh7y1FIjTZ1An9yLgIxL++7S dwUWQg7XCJmF3g9Oane65mjX10HffZrWFVHmmPq8bwEH0Kf2rdbqqh/SDEL9RAc6B3p/qNS/tymt 4Vi09/oj7gl0kpv2NnGSD1aN59Xqew16u6HudGoO9PI/CF27c/R9EXq7tu5IdSXoavF8cve4b29c 5vGGUn3y+3d1Ffq+Bb0b/R1G8v69wxtXFR0AX4W+70Ev6tK0Df0hAK9h5l3M/FRm3r2g/C4z7wng Fg9c1P1Cwyr0fRn6qqz+scOqrEJflVXoq/K/Xv57AHWuGND/uVYRAAAAAElFTkSuQmCC') no-repeat !important;
    background-position: 0px 0px !important; 
    width: 100% !important; 
    height: 100% !important; 
    background-size: 155px auto !important; 
    margin: 3px -0px 0px -15px !important;
}

/* Убрать иконки */


html.myMenu .left_icon { display: none !important; }
html.myMenu #side_bar .left_label{ padding-left: 7px; }
html.myMenu .left_settings{ margin: -25px 0 0 -22px; display:none; }
html.myMenu #side_bar .more_div { margin-left: 0;}

/* Скрыть рекламу */


html.hideAdds #ads_left { display: none !important; }


html.editMenu #side_bar .left_label {
    position: relative;
}

html.editMenu a.f_red_p { 
    position: absolute; 
    right: 20px; 
    top: 0px; 
}

html.editMenu:not(.myMenu).sizeOptimize a.f_red_p {
    right: -3px;
}
html.editMenu:not(.myMenu).sizeOptimize #side_bar .left_icon {
    width: 28px;
}
html.editMenu:not(.myMenu):not(.sizeOptimize) a.f_red_p {
    right: -3px;
}


html.editMenu.myMenu:not(.sizeOptimize) a.f_red_p {
    right: 20px;
}

html.editMenu #side_bar .left_label { 
    position: relative; 
}

html.editMenu a.f_red_p {
    color: #777;
}

html.editMenu a.f_red_p:hover {
    color: inherit;
}


/* Оптимизация размеров */

html.sizeOptimize #page_layout {
    width: 980px !important;
}
html.sizeOptimize #page_body {
    width: 840px !important; 
}

html.sizeOptimize .nim-dialog.nim-dialog_classic .nim-dialog--name, .nim-dialog.nim-dialog_classic .nim-dialog--preview, .nim-dialog.nim-dialog_classic .nim-dialog--text-preview{
    font-size: 12px;
}
html.sizeOptimize .nim-dialog .nim-dialog--name{
    margin-top: 10px;
}


html.sizeOptimize .ui_rmenu_item, .ui_rmenu_subitem{
    height: 25px;
    line-height: 24px;
    font-size: 11px !important; 
}

html.sizeOptimize .ui_rmenu_item, html.sizeOptimize .ui_rmenu_subitem{
    height: 26px;
    line-height: 25px;
}

html.sizeOptimize .wall_post_text{
    line-height: 1.5;

}


html.sizeOptimize #page_body{
    font-size: 12px !important;
}
html.sizeOptimize .im-page .im-page--chat-body-wrap{
    font-size: 12px;
}

html.sizeOptimize #side_bar ol li .left_row .left_count_wrap, html.sizeOptimize #side_bar ol li .left_row:hover .left_count_wrap {
    margin: 0px 15px 0px 0px !important;
    line-height: 14px; 
    height: 14px; 
    padding: 4px 6px !important; 
    background: #e1e5eb 
}

html.sizeOptimize #side_bar .left_label { 
    line-height: 22px; 
    height: 22px; 
    padding-left: 0x; 
    font-size: 11px; 
}

html.sizeOptimize .side_bar_inner { 
    width: 120px; 
}
html.sizeOptimize #side_bar .left_icon{
    height: 22px;
    margin-top: -2px;
}
html.sizeOptimize #side_bar ol li{ margin-bottom: 1px;}
html.sizeOptimize .wall_reply_text { line-height: 1.5; }


/* Старая шапка */

html.oldHead .audio_rows_header.fixed{
	top: 0px !important;
}

html.oldHead #page_header{
    background: #507299;
    border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border-bottom: 1px solid #466991;
    margin-right: auto !important;
    margin-left: auto !important;
}
html.oldHead #page_header_cont .back {
    background: #fff;
    border-bottom: none;

}
html.oldHead.oldLogo .top_home_logo{
    width: 125px !important;
    background-size: 100% !important;
    margin-left: -5px !important;
    margin-top: 5px !important;
}
html.oldHead #page_header_cont .back{
    background: rgba(0,0,0,0);
}
html.oldHead #page_header_cont{
    position: absolute;
}
html.oldHead #page_header_wrap{
    width: auto !important;
}
html.oldHead.imFixedHead  #page_header_cont{
    position: fixed;
} 
html.oldHead.imFixedHead #page_header {
    margin-right: auto !important;
    margin-left: auto !important;
}    
 
html.oldPhoto .pv_cont .pv_left_wrap{
    float: none !important;
    display: block !important;
}
html.oldPhoto .pv_cont .pv_narrow_column_wrap{
    display: block !important;
    float: none !important;
}
html.oldPhoto #layer, .pv_light #layer{ 
    margin-top:10px !important;
}
html.oldPhoto #pv_photo{
    width: 100% !important;
    height: auto !important;

}
html.oldPhoto #pv_narrow{
    width: 100% !important;
    height: auto !important;
}
html.oldPhoto .pv_cont .pv_reply_form_wrap{
    width: 100% !important;
}
html.oldPhoto .pv_cont{
    width:100% !important;
    max-width: 980px !important;
}

html.oldPhoto #pv_photo img { 
    max-width: 100% !important; 
    height: auto !important; 
}
html.oldPhoto .photos_container_albums .photos_album_thumb{
    width:225px;
}