/* Квадратные аватары */

html.sqrAvatars .module_body .people_cell_img,
html.sqrAvatars .page_list_module .thumb,
html.sqrAvatars .page_list_module .cell_img,
html.sqrAvatars .post_img,
html.sqrAvatars .wall_module .copy_post_img,
html.sqrAvatars .wall_module .reply_img,
html.sqrAvatars .nim-peer .nim-peer--photo-w,
html.sqrAvatars .mv_author_img,
html.sqrAvatars .friends_photo_img,
html.sqrAvatars .right_list_img,
html.sqrAvatars .top_profile_img,
html.sqrAvatars .group_row_photo,
html.sqrAvatars .group_row_img,
html.sqrAvatars .nim-peer .nim-peer--photo-w,
html.sqrAvatars .nim-peer.nim-peer_small .im_grid>img,
html.sqrAvatars .nim-peer .nim-peer--photo .im_grid>img,
html.sqrAvatars .ow_ava.ow_ava_small,
html.sqrAvatars .fc_contact_photo,
html.sqrAvatars .chat_tab_img,
html.sqrAvatars .like_tt_owner,
html.sqrAvatars .poll_tt_ownerx,
html.sqrAvatars .like_tt_image,
html.sqrAvatars .ow_ava.ow_ava_comm,
html.sqrAvatars .feedback_img,
html.sqrAvatars .notifier_image,
html.sqrAvatars .post_field_user_image,
html.sqrAvatars .fans_idolph_wrap,
html.sqrAvatars .fans_fan_img,
html.sqrAvatars .group_box_image_link,
html.sqrAvatars .like_share_ava.wdd_imgs,
html.sqrAvatars .settings_bl_photo,
html.sqrAvatars .nim-peer .nim-peer--photo>img,
html.sqrAvatars img,
html.sqrAvatars .wddi_img,
html.sqrAvatars .text.ts_input,
html.sqrAvatars .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo>img,
html.sqrAvatars .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img {
  border-radius: 0px !important;
}


/* Белый фон */

html.noBackground body {
  background: none;
}

html.noBackground .wide_column_left .wide_column {
  float: left;
  border-left: 1px solid #e6e7eb;
  border-right: 1px solid #e6e7eb;
}

html.noBackground .feed_row .page_block, html.noBackground #page_wall_posts .page_block {
  margin: 15px 0px 0px;
  border: 1px solid #e6e7eb;
  border-width: 0px 0px 1px 0px;
  box-shadow: none;
}



/* Фон у непрочитанного сообщения вместо точки*/
html.oldMessageBackground .nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--unread {
  bottom: 0px;
}

html.oldMessageBackground .nim-dialog--name,
html.oldMessageBackground .nim-dialog--text-preview {
  z-index: 100;
  position: relative;
}

html.oldMessageBackground .nim-dialog--close._im_dialog_close, html.oldMessageBackground .nim-dialog--date._im_dialog_date {
  z-index: 101;
  display: none;
}

html.oldMessageBackground .nim-dialog--photo {
  z-index: 101;
  position: relative;
}

html.oldMessageBackground .nim-dialog .nim-dialog--preview {
  color: #67829E;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:empty {
  bottom: 0px;
  right: 0px;
  border-radius: 0px;
  width: 99%;
  height: 75%;
  margin-right: 2%;
  margin-bottom: 2%;
  background: #edf1f5;
  color: #67829E;
  border-color: #DAE1E8;
  z-index: 0;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:not(:empty) {
  margin: 0px 3px;
  background: #D1DAE3;
  padding: 4px 4px 4px 4px;
  font-weight: bold;
  color: #436796;
  border-radius: 2px;
  z-index: 99;
}

html.oldMessageBackground .nim-dialog--unread._im_dialog_unread_ct:not(:empty)::before {
  content: "";
  border-radius: 0px;
  background: #edf1f5;
  width: 551px;
  height: 70px;
  position: absolute;
  z-index: -1;
  top: -28px;
  left: -503px;
  opacity: 0.5;
}

html.oldMessageBackground .im-page--header.ui_search._im_dialogs_search {
  z-index: 102;
}

/* Фиксированное меню*/

#side_bar_inner_fixed {
  margin-top: 0px !important;
  top: 46px;
}


/* Старые шрифты */

html.oldFonts body {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}


/* Старый размер кнопок аудио */

html.oldAudioSize .audio_play,
html.oldAudioSize .audio_page_player .audio_page_player_play .icon {
  border-radius: 20%;
  background-position: -3px -3px;
  width: 22px;
  height: 22px;
}

html.oldAudioSize .audio_page_player_ctrl.audio_page_player_play._audio_page_player_play {
  padding-top: 18px;
}

html.oldAudioSize .audio_play {
  width: 18px;
  height: 18px;
  background-size: 8px;
  background-position: 5px 4px;
}

html.oldAudioSize .audio_play .icon {
  width: 9px;
  height: 9px;
}

html.oldAudioSize .audio_row .audio_play_wrap {
  padding: 5px 0px 0px 0px;
}

html.oldAudioSize .audio_page_player_ctrl.audio_page_player_play._audio_page_player_play.audio_playing .icon{
  background-position: -3px -59px;
}

html.oldAudioSize .audio_row_playing .audio_play {
  background-position: 5px -15px;
}


/* Высокий контраст */

html.highContrast .module_header {
  line-height: 30px;
  color: #45688E !important;
  background: #DEE5EB;
}

html.highContrast .module_header .header_label {
    color: #45688E !important;
}

html.highContrast .module_header .header_top .right_link {
  color: inherit;
}

html.highContrast .im-chat-input .im-chat-input--textarea .placeholder {
  position: absolute;
  top: 21px;
  left: 2px;
  width: 100%;
}


html.highContrast .im-page.im-page_classic .im-page--chat-input {
  border-bottom: solid 15px #fff;
  border-left: solid 1px #fff;
  border-right: solid 2px #fff;
  background: #f2f2f2;
}

html.highContrast .im-chat-input .im-chat-input--text {
  border: solid 1px #e4e6e9;
  -o-transition: border-bottom-color 0.3s linear;
  transition: border-color 0.3s linear;
  padding: 2px;
  padding-right: 25px;
}

html.highContrast .im-page.im-page_classic .im-page--header-inner {
  background: #f2f2f2;
}

html.highContrast .im-page.im-page_classic .im-page--header-chat {
  border-top: solid 17px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

html.highContrast .im-page.im-page_classic .im-page--header {
  border-top: solid 15px #fff;
}

html.highContrast .wall_module > .page_block {
  background: #DEE5EB;
}

html.highContrast .wall_module > .page_block a {
  color: #45688E;
  border-bottom: none;
}


/* Скрыть возможных друзей */
html.hidePossibleFriends .friends_possible_block {
    display: none;
}

/* Расфиксировать правую колонку в новостях */

html.fixNarrowColumn #narrow_column.position_right {
    position: absolute !important;
}

/*
html.fixNarrowColumn div#content > div.wide_column_left .narrow_column { 
    width: 230px; 
    position: absolute !important; 
}

html.fixNarrowColumn div#content > div.wide_column_left .narrow_column_wrap { 
    float: right; 
    position: absolute !important; 
    right: 0; 
}
*/
/* Лайки справа */
html.moveLikeRight .post_full_like_wrap .reply_link_wrap { 
    float: left; 
}

html.moveLikeRight .post_full_like_wrap .post_like, html.moveLikeRight .post_full_like_wrap .post_share { 
    float: right; 
}