<!DOCTYPE html>

<html ng-app="vk-settings" ng-controller="settingsCtrl" ng-cloak>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/angular-toastr.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title>Настройки расширения</title>
  </head>
  <body>
    <nav class="navbar vk-bg-color box-shadow--2dp">
      <div class="container pull-left">
        <div class="navbar-header">
          <h3>New <img src="/icons/128.png"/> Settings</h3>
        </div>
      </div>
    </nav>
    <!--<h3 class="text-center"><span ng-if="changes" class="label label-danger">Требуется перезагрузить vk.com</span></h3>-->
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-2 tabs-settings">
        <uib-tabset active="active" vertical="true" type="pills">
          <uib-tab index="0" heading="Внешний вид"></uib-tab>
          <uib-tab index="1" heading="Поведение"></uib-tab>
          <uib-tab index="2" heading="Благодарности"></uib-tab>
          <uib-tab index="3" heading="Обратная связь"></uib-tab>
          <uib-tab index="4" heading="О расширении"></uib-tab>
        </uib-tabset>
      </div>
      <div class="col-xs-8">
        <div class="nav-pills-hidden">
        <uib-tabset active="active">
          <uib-tab index="0">
            <ul class="list-group">
              <li class="list-group-item list-settings">
                <h4>Квадратные элементы</h4>
                <button ng-model="settings.sqrAvatars" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.sqrAvatars}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Аватары людей, групп и другие элементы на всех страницах снова будут более квадратными</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Старый вид кнопок аудио</h4>
                <button ng-model="settings.oldAudioSize" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.oldAudioSize}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Кнопки аудио будут квадратными и маленькими</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Белый фон</h4>
                <button ng-model="settings.noBackground" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.noBackground}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Фон на сайте будет белым, изменится внешний вид некоторых блоков (границы)</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Фон вместо точки</h4>
                <button ng-model="settings.oldMessageBackground" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.oldMessageBackground}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Ваши непрочитанные сообщения будут отмечаться в списке диалогов фоном, а не точкой (работает только с классическим интерфейсом диалогов)</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Классические шрифты</h4>
                <button ng-model="settings.oldFonts" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.oldFonts}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Шрифты Open Sans, Helvetica Neue, sans-serif будут заменены на tahoma, arial, verdana, sans-serif, Lucida Sans из старой версии сайта</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Высокий контраст</h4>
                <button ng-model="settings.highContrast" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.highContrast}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Контраст сайта будет приближен в старой версии (лучший эффект достигается совместно с использованием белого фона)</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Скрыть "Возможных друзей"</h4>
                <button ng-model="settings.hidePossibleFriends" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.hidePossibleFriends}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Блок "Возможные друзья" будет скрыт на всех страницах сайта.</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Вернуть Дурова</h4>
                <button ng-model="settings.returnDurov" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.returnDurov}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Ссылка на Павла Дурова будет возвращена внизу страницы</p>
              </li>
              <li class="list-group-item disabled list-settings">
                <h4>Вернуть стену <span class="label label-warning">VIP</span> <span class="label label-pill label-default">В разработке</span></h4>
                <button class="btn btn-default disabled btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Будет возвращена классическая стена из 2007</p>
              </li>
              <li class="list-group-item disabled list-settings">
                <h4>Вернуть рейтинг <span class="label label-warning">VIP</span> <span class="label label-pill label-default">В разработке</span></h4>
                <button class="btn btn-default disabled btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Будет возвращен рейтинг из 2007</p>
              </li>
              <!--
              <li class="list-group-item list-settings">
                <h4>Скрывать правый блок в списке диалогов</h4>
                <button ng-model="settings.hideRightBlock" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.hideRightBlock}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Блок со списком текущих диалогов будет скрыт в списке диалогов (работает только при включенном классическом виде)</p>
              </li>-->
            </ul>
          </uib-tab>
          <uib-tab index="1">
            <ul class="list-group">
              <li class="list-group-item list-settings">
                <h4>Фиксировать меню</h4>
                <button ng-model="settings.fixMenu" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.fixMenu}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Меню сайта будет зафиксировано</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Расфиксировать правую колонку в новостях</h4>
                <button ng-model="settings.fixNarrowColumn" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.fixNarrowColumn}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>Правая колонка на странице новостей будет уезжать наверх при скролле.</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Кнопка уведомлений</h4>
                <button ng-model="settings.menuNotif" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.menuNotif}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>В меню сайта появится кнопка со ссылкой на уведомления.</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Кнопка комментариев</h4>
                <button ng-model="settings.menuComm" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.menuComm}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>В меню сайта появится кнопка со ссылкой на комментарии.</p>
              </li>
              <li class="list-group-item list-settings">
                <h4>Кнопка обновлений</h4>
                <button ng-model="settings.menuUpd" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-class="{active: settings.menuUpd}" class="btn btn-default btn-sm vk-checkbox pull-right"><i class="glyphicon glyphicon-ok"></i></button>
                <p>В меню сайта появится кнопка со ссылкой на обновления.</p>
              </li>
            </ul>
          </uib-tab>
          <uib-tab index="2">
            <div class="vk-text-color">
              <p>Благодарности выражаются:</p>
              <ul>
                <li><b>Rocotos</b> за инвестиции для публикации расширения в магазине Google</li>
                <li><b>Олегу Бойко</b> за соучастие в разработке</li>
              </ul>
            </div>
          </uib-tab>
          <uib-tab index="3">
              <iframe width="100%" height="1000px" frameborder="0" scrolling="no" src="https://docs.google.com/forms/d/e/1FAIpQLSerKdH3TEDi2QzhV_-pVSenPq0Wm_GCmXajh-tKKJ6wbCyExg/viewform"></iframe>
          </uib-tab>
          <uib-tab index="4">
            <div class="vk-text-color">
              <p>Данное расширение призвано сгладить негативные эмоции от использования новой версии сайта vk.com, которая однажды станет единственной. В нем собраны различные настройки, позволяющие изменить внешний вид или
              поведение отдельных частей сайта.</p>
              <p>Расширение предназначено <b>только для новой версии</b> vk.com!</p>
              <p>Изменения будут вступать в силу после <b>перезагрузки</b> сайта.</p>
              <p>Вы можете поддержать разработчика и перевести любую сумму денег на webmoney <b>R239108061635</b>.</p>
              <p>Исходные тексты расширения доступны в <a target="_blank" href="https://github.com/1001v/New-VK-Settings">репозитории на сайте github.com</a>.</p>
              <p>Версия расширения <b>{{manifest.version}}</b></p>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
      </div>
      <div class="col-xs-1 right"></div>
    </div>
      <button title="Применить все настройки" ng-click="openApplyModal()" class="btn btn-success btn-apply pull-right box-shadow--2dp"><span class="glyphicon glyphicon-ok"></span></button>
    <button title="Сбросить все настройки" ng-click="openResetModal()" class="btn btn-danger btn-reset pull-right box-shadow--2dp"><span class="glyphicon glyphicon-trash"></span></button>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">{{manifest.browser_action.default_title}} {{manifest.version}} beta © 1001v</p>
      </div>
    </footer>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-touch.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="/js/angular-toastr.tpls.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
